In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

### Load the data

In [2]:
bayt_df = pd.read_csv('cleaned_bayt_data.csv', encoding='utf-16')
wuzzuf_df = pd.read_csv('cleaned_wuzzuf_data.csv', encoding='utf-16')

In [3]:
wuzzuf_df.head()

,Unnamed: 0,job_title,job_type,job_categories,job_description,job_requirements,job_location,company_name,company_location,company_field,company_size,experience_needed,career_level,education_level,gender
0,0,Cost Accountant,Full Time,Accounting/Finance,Preparing the cost of products and operations ...,Bachelor’s Degree in accountingProficient use ...,"Bourj Alarab, Alexandria",Confidential Company,"Bourj Alarab, Alexandria",Manufacturing,11-50 employees,Min: 0 Max: 1,Entry Level (Junior Level / Fresh Grad),Bachelor's Degree,Both
1,1,Costing Manager - Pastry Industry FMCG,Full Time,Accounting/Finance,Collecting and analyzing data about company’s ...,Bachelor degree in commerce.From 7-10 years of...,"6th of October, Giza",Confidential Company,"6th of October, Giza",Manufacturing,11-50 employees,Min: 7 Max: 10,Manager,Bachelor's Degree,Male
2,2,Female Junior Accountant,Full Time,Accounting/Finance,Review of controlling & applying remittance fo...,Good understanding of accounting and financial...,"6th of October, Giza",Confidential Company,"6th of October, Giza",Manufacturing,11-50 employees,Min: 1 Max: 2,Entry Level (Junior Level / Fresh Grad),Bachelor's Degree,Both
3,3,Collection Supervisor,Full Time,Accounting/Finance,Preparing the monthly collection plan to be ap...,Pervious experience in FMCG is preferred.Has a...,"Maadi, Cairo",Abudawood Group Egypt,"Cairo, Egypt",FMCG,More than 1000 employees,Min: 1 Max: 2,Experienced (Non-Manager),Bachelor's Degree,Both
4,4,Senior Costing Accountant,Full Time,Accounting/Finance,Leads and coordinates the analysis of internal...,"Bachelor degree in Accounting, finance Experie...","Cairo, Egypt",Cairo Three A Poultry,Egypt,Agriculture/Fishing/Farming,More than 1000 employees,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both

In [4]:
bayt_df.head()

,Unnamed: 0,job_title,job_type,job_categories,job_description,job_location,company_name,company_location,company_field,company_size,experience_needed,career_level,education_level,gender
0,0,مندوب مبيعات,Full Time Employee,Sales,\n Job Description \n \n شركة كبيرة الصناعة مس...,"10th of Ramadan, Cairo , Egypt",silk route,Egypt - Cairo,Perfume & Cosmetics,50-99 Employees,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor,Both
1,1,IT Project Manager,Full Time Employee,Information Technology,\n Job Description \n \n Job brief We are look...,"Alexandria, Egypt",iLAW,United Arab Emirates - Dubai,Law Firm; Marketing,10-49 Employees,Min: 3 Max: 5,Senior Executive,Bachelor,Both
2,2,مسؤول تامينات وتراخيص,Full Time Employee,Finance and Investment,\n Job Description \n \n 1) تمثيل الشركة لدى ...,Egypt,TH For Transport & General Supplies,Egypt,Insurance & TPA,100-499 Employees,Min: 3 Max: 5,Mid Career,Bachelor,Both
3,3,محاسب مالي,Full Time Employee,Accounting and Auditing,\n Job Description \n \n مطلوب محاسب خبرة 3 سن...,"Nasr City, Cairo , Egypt",ابتكارات التطوير,Egypt - Cairo,Accounting,50-99 Employees,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor,Both
4,4,Planning Engineer,Full Time Employee,Engineering,\n Job Description \n \n Key Accountability Ar...,"Cairo, Egypt",Confidential Company,"Cairo, Egypt",Construction & Building,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor,Both

### Drop the unnecessary cloumns

In [5]:
bayt_df.drop(['Unnamed: 0', 'job_description'], axis=1, inplace=True)
wuzzuf_df.drop(['Unnamed: 0', 'job_description', 'job_requirements'], axis=1, inplace=True)

## Integrate the data for each column

### Job Type
we can count contractor as freelance

In [6]:
bayt_df['job_type'].value_counts()

Full Time Employee    5420
Part Time Employee     156
Contractor               3
Name: job_type, dtype: int64

In [7]:
wuzzuf_df['job_type'].value_counts()

Full Time              7031
Part Time                90
Internship               86
Freelance / Project      22
Name: job_type, dtype: int64

In [8]:
data_to_be_replaced = {
    'Full Time Employee': 'Full Time',
    'Part Time Employee': 'Part Time',
    'Contractor': 'Freelance / Project'
}

bayt_df['job_type'].replace(data_to_be_replaced, inplace=True)

### Job Category

In [9]:
bayt_df['job_categories'].value_counts()

Other                                  2161
Information Technology                  663
Engineering                             600
Sales                                   465
Accounting and Auditing                 252
Customer Service and Call Center        206
Teaching and Academics                  165
Management                              165
Human Resources and Recruitment         159
Maintenance, Repair, and Technician     158
Marketing and PR                        130
Design, Creative, and Arts               87
Quality Control                          81
Finance and Investment                   74
Administration                           35
Purchasing and Procurement               34
Legal                                    32
Electrical Engineering                   29
Logistics and Transportation             28
Hospitality and Tourism                  13
Support Services                         11
Medical, Healthcare, and Nursing          7
Manufacturing                             5
Training and Development                  4
Secretarial                               4
Architecture                              3
Community Services                        2
Safety                                    2
Translation                               1
Writing and Journalism                    1
Mechanical Engineering                    1
Banking                                   1
Name: job_categories, dtype: int64

In [10]:
wuzzuf_df['job_categories'].value_counts()

IT/Software Development                          1082
Accounting/Finance                                723
Administration                                    665
Customer Service/Support                          659
Engineering - Construction/Civil/Architecture     523
Sales/Retail                                      413
Installation/Maintenance/Repair                   333
Marketing/PR/Advertising                          327
Human Resources                                   324
Creative/Design/Art                               282
Logistics/Supply Chain                            277
Business Development                              264
Operations/Management                             212
Engineering - Mechanical/Electrical               206
Manufacturing/Production                          135
Education/Teaching                                133
Medical/Healthcare                                133
Writing/Editorial                                 101
R&D/Science                                        89
Quality                                            73
Purchasing/Procurement                             45
Hospitality/Hotels/Food Services                   41
Banking                                            36
Project/Program Management                         36
Legal                                              29
Analyst/Research                                   20
Engineering - Telecom/Technology                   17
Tourism/Travel                                     16
Engineering - Other                                10
Other                                               8
Training/Instructor                                 7
Pharmaceutical                                      5
Sports and Leisure                                  2
C-Level Executive/GM/Director                       1
Engineering - Oil & Gas/Energy                      1
Media/Journalism/Publishing                         1
Name: job_categories, dtype: int64

In [11]:
data_to_be_replaced = {
    'Information Technology': 'IT/Software Development',
    'Sales': 'Sales/Retail',
    'Accounting and Auditing': 'Accounting/Finance',
    'Customer Service and Call Center': 'Customer Service/Support',
    'Teaching and Academics': 'Education/Teaching',
    'Human Resources and Recruitment': 'Human Resources',
    'Maintenance, Repair, and Technician': 'Installation/Maintenance/Repair',
    'Marketing and PR': 'Marketing/PR/Advertising',
    'Design, Creative, and Arts': 'Creative/Design/Art',
    'Quality Control': 'Quality',
    'Finance and Investment': 'Accounting/Finance',
    'Administration': 'Administration',
    'Purchasing and Procurement': 'Purchasing/Procurement',
    'Electrical Engineering': 'Engineering - Mechanical/Electrical',
    'Logistics and Transportation': 'Logistics/Supply Chain',
    'Hospitality and Tourism': 'Tourism/Travel',
    'Support Services': 'Customer Service/Support',
    'Medical, Healthcare, and Nursing': 'Medical/Healthcare',
    'Manufacturing': 'Manufacturing/Production',
    'Training and Development': 'Training/Instructor',
    'Writing and Journalism': 'Media/Journalism/Publishing',
    'Mechanical Engineering': 'Engineering - Mechanical/Electrical',
}

bayt_df['job_categories'].replace(data_to_be_replaced, inplace=True)

### Job Location

In [12]:
bayt_df['job_location'].value_counts()

Cairo, Egypt                           3774
Egypt                                  1279
Alexandria, Egypt                       354
Suez, Egypt                              26
Luxor, Egypt                             21
Sharm el Sheikh, Egypt                   14
Heliopolis, Cairo , Egypt                13
Nasr City, Cairo , Egypt                 11
Asyut, Egypt                              9
Port Said, Egypt                          8
Menoufia, Egypt                           8
New Cairo, Cairo , Egypt                  8
10th of Ramadan, Cairo , Egypt            6
Giza, Cairo , Egypt                       6
Maadi, Cairo , Egypt                      5
6th of October, Cairo , Egypt             5
Obour City, Cairo , Egypt                 2
Borg El Arab, Alexandria , Egypt          2
Mansoura, Egypt                           2
Mahatet El Raml, Alexandria , Egypt       2
Damietta, Egypt                           2
Ismailia, Egypt                           2
Badr City, Cairo , Egypt                  2
Faisal, Cairo , Egypt                     1
Sohag, Egypt                              1
Madinat as Sadat, Cairo , Egypt           1
Tanta, Egypt                              1
Sidi Bishr, Alexandria , Egypt            1
Dahab, Egypt                              1
Smart Village, Cairo , Egypt              1
Mandara, Alexandria , Egypt               1
Mokattam, Cairo , Egypt                   1
Agami, Alexandria , Egypt                 1
Almazah, Cairo , Egypt                    1
Kafr El Sheikh, Egypt                     1
Al Alamayn, Egypt                         1
Qena, Egypt                               1
As Sayyidah Zaynab, Cairo , Egypt         1
Helwan, Cairo , Egypt                     1
Sheraton El Salam, Cairo , Egypt          1
Aswan, Egypt                              1
Name: job_location, dtype: int64

In [13]:
wuzzuf_df['job_location'].value_counts()

Cairo, Egypt            953
New Cairo, Cairo        851
Maadi, Cairo            771
Nasr City, Cairo        603
6th of October, Giza    593
                       ...
Badrasheen, Giza          1
Sherbeen, Dakahlia        1
Qasr ِAlnil, Cairo        1
New Assuit, Assiut        1
Schutz, Alexandria        1
Name: job_location, Length: 175, dtype: int64

In [14]:
data_to_be_replaced = {
    'Egypt': 'Cairo, Egypt',
    'Suez, Egypt': 'Suez, Suez',
    'Luxor, Egypt': 'Luxor, Luxor',
    'Sharm el Sheikh, Egypt': 'Sharm Alsheikh, South Sinai',
    'Heliopolis, Cairo , Egypt': 'Heliopolis, Cairo',
    'Nasr City, Cairo , Egypt': 'Nasr City, Cairo',
    'New Cairo, Cairo , Egypt': 'New Cairo, Cairo',
    '10th of Ramadan, Cairo , Egypt': '10th of Ramadan City, Cairo',
    'Giza, Cairo , Egypt': 'Giza, Egypt',
    'Maadi, Cairo , Egypt': 'Maadi, Cairo',
    '6th of October, Cairo , Egypt': '6th of October, Giza',
    'Obour City, Cairo , Egypt': 'Obour City, Cairo',
    'Borg El Arab, Alexandria , Egypt': 'Bourj Alarab, Alexandria',
    'Mansoura, Egypt': 'Mansoura, Dakahlia',
    'Mahatet El Raml, Alexandria , Egypt': 'Mahta Alraml, Alexandria',
    'Damietta, Egypt': 'Damietta, Egypt',
    'Ismailia, Egypt': 'Ismailia, Ismailia',
    'Badr City, Cairo , Egypt': 'Badr City, Cairo',
    'Faisal, Cairo , Egypt': 'Faisal, Giza',
    'Sohag, Egypt': 'Sohag, Egypt',
    'Madinat as Sadat, Cairo , Egypt': 'Alsadat City, Monufya',
    'Tanta, Egypt': 'Tanta, Gharbia',
    'Sidi Bishr, Alexandria , Egypt': 'Sidi Bishr, Alexandria',
    'Smart Village, Cairo , Egypt': 'Smart Village, Giza',
    'Mandara, Alexandria , Egypt': 'Mandara, Alexandria',
    'Mokattam, Cairo , Egypt': 'Mokattam, Cairo',
    'Agami, Alexandria , Egypt': 'Agami, Alexandria',
    'Kafr El Sheikh, Egypt': 'Kafr Alsheikh, Egypt',
    'Qena, Egypt': 'Qena, Qena',
    'As Sayyidah Zaynab, Cairo , Egypt': 'Sayeda Zeinab, Cairo',
    'Helwan, Cairo , Egypt': 'Helwan, Cairo',
    'Sheraton El Salam, Cairo , Egypt': 'Sheraton, Cairo',
    'Aswan, Egypt': 'Aswan, Aswan',
}
bayt_df['job_location'].replace(data_to_be_replaced, inplace=True)

### Company Location

In [15]:
bayt_df['company_location'].value_counts()

Cairo, Egypt                                  3521
Egypt                                         1044
Egypt - Cairo                                  349
Alexandria, Egypt                              195
Giza, Egypt                                    120
Saudi Arabia                                    55
Germany                                         51
United Arab Emirates - Abu Dhabi                42
Canada - Ontario                                29
United Arab Emirates - Dubai                    24
United Kingdom - London                         19
Luxor, Egypt                                    17
Sweden                                          11
Egypt - Cairo - Heliopolis                      11
Suez, Egypt                                     11
Asyut, Egypt                                     8
United States - New Jersey                       8
United States - Massachusetts - Boston           7
Egypt - Cairo - 6th of October                   6
Egypt - Alexandria                               6
500 Employees or more                            5
United States - Texas - Round Rock               4
United States - Texas - Houston                  4
Switzerland                                      3
Netherlands                                      3
Egypt - Cairo - Nasr City                        3
1-9 Employees                                    3
100-499 Employees                                2
Egypt - Alexandria - Mahatet El Raml             2
Egypt - Asyut                                    1
United States - Virginia                         1
Giza, Cairo , Egypt                              1
Egypt - Qena                                     1
Saudi Arabia - Riyadh                            1
Saudi Arabia - Riyadh - Ar Rayyan                1
Saudi Arabia - Jeddah                            1
United States - Minnesota - Saint Paul           1
United Arab Emirates                             1
United States - Minnesota - Minneapolis          1
United States - California - San Francisco       1
Qatar - Doha                                     1
Egypt - Alexandria - Borg El Arab                1
Egypt - Mansoura                                 1
United States - South Boston                     1
Aswan, Egypt                                     1
Name: company_location, dtype: int64

In [16]:
wuzzuf_df['company_location'].value_counts()

Cairo, Egypt             3690
Giza, Egypt              1165
Egypt                     671
Alexandria, Egypt         266
Cairo, Egypt              159
                         ...
Faqus, Sharqia              1
Changsha, China             1
Zohour, Port Said           1
Ras Sedr, South Sinai       1
Schutz, Alexandria          1
Name: company_location, Length: 154, dtype: int64

In [17]:
data_to_be_replaced = {
    'Egypt': 'Cairo, Egypt',
    'Suez, Egypt': 'Suez, Suez',
    'Luxor, Egypt': 'Luxor, Luxor',
    'Sharm el Sheikh, Egypt': 'Sharm Alsheikh, South Sinai',
    'Heliopolis, Cairo , Egypt': 'Heliopolis, Cairo',
    'Nasr City, Cairo , Egypt': 'Nasr City, Cairo',
    'New Cairo, Cairo , Egypt': 'New Cairo, Cairo',
    '10th of Ramadan, Cairo , Egypt': '10th of Ramadan City, Cairo',
    'Giza, Cairo , Egypt': 'Giza, Egypt',
    'Maadi, Cairo , Egypt': 'Maadi, Cairo',
    '6th of October, Cairo , Egypt': '6th of October, Giza',
    'Obour City, Cairo , Egypt': 'Obour City, Cairo',
    'Borg El Arab, Alexandria , Egypt': 'Bourj Alarab, Alexandria',
    'Mansoura, Egypt': 'Mansoura, Dakahlia',
    'Mahatet El Raml, Alexandria , Egypt': 'Mahta Alraml, Alexandria',
    'Damietta, Egypt': 'Damietta, Egypt',
    'Ismailia, Egypt': 'Ismailia, Ismailia',
    'Badr City, Cairo , Egypt': 'Badr City, Cairo',
    'Faisal, Cairo , Egypt': 'Faisal, Giza',
    'Sohag, Egypt': 'Sohag, Egypt',
    'Madinat as Sadat, Cairo , Egypt': 'Alsadat City, Monufya',
    'Tanta, Egypt': 'Tanta, Gharbia',
    'Sidi Bishr, Alexandria , Egypt': 'Sidi Bishr, Alexandria',
    'Smart Village, Cairo , Egypt': 'Smart Village, Giza',
    'Mandara, Alexandria , Egypt': 'Mandara, Alexandria',
    'Mokattam, Cairo , Egypt': 'Mokattam, Cairo',
    'Agami, Alexandria , Egypt': 'Agami, Alexandria',
    'Kafr El Sheikh, Egypt': 'Kafr Alsheikh, Egypt',
    'Qena, Egypt': 'Qena, Qena',
    'As Sayyidah Zaynab, Cairo , Egypt': 'Sayeda Zeinab, Cairo',
    'Helwan, Cairo , Egypt': 'Helwan, Cairo',
    'Sheraton El Salam, Cairo , Egypt': 'Sheraton, Cairo',
    'Aswan, Egypt': 'Aswan, Aswan',
    'Egypt - Cairo - Heliopolis':'Heliopolis, Cairo',
    'Egypt - Alexandria':'Alexandria, Egypt',
    'Egypt - Cairo - 6th of October': '6th of October, Giza',
    '500 Employees or more': 'Cairo, Egypt',
    '1-9 Employees': 'Cairo, Egypt',
    'Egypt - Cairo - Nasr City': 'Nasr City, Cairo',
    '100-499 Employees': 'Cairo, Egypt',
    'Egypt - Alexandria - Mahatet El Raml': 'Mahta Alraml, Alexandria',
    'Egypt - Asyut': 'Assiut, Egypt',
    'Egypt - Mansoura': 'Mansoura, Dakahlia',
    'Egypt - Alexandria - Borg El Arab': 'Bourj Alarab, Alexandria',
    'Egypt - Qena':'Qena, Qena',
    'Egypt - Cairo': 'Cairo, Egypt',
}
bayt_df['company_location'].replace(data_to_be_replaced, inplace=True)

### Company Size

In [18]:
bayt_df['company_size'].value_counts()

500 Employees or more    5203
100-499 Employees         153
50-99 Employees           118
10-49 Employees            75
1-9 Employees              30
Name: company_size, dtype: int64

In [19]:
wuzzuf_df['company_size'].value_counts()

 11-50 employees             2638
 101-500 employees           1554
 More than 1000 employees    1098
 51-100 employees            1010
 501-1000 employees           726
 1-10 employees               184
                               19
Name: company_size, dtype: int64

In [20]:
data_to_be_replaced = {
    ' 1-10 employees': '1-9 Employees',
    ' 11-50 employees': '10-49 Employees',
    ' 51-100 employees': '50-99 Employees',
    ' 101-500 employees': '100-499 Employees',
    ' 501-1000 employees': '500 Employees or more',
    ' More than 1000 employees': '500 Employees or more',
    ' ': '1-9 Employees'
}
wuzzuf_df['company_size'].replace(data_to_be_replaced, inplace=True)

### Career level

In [21]:
bayt_df['career_level'].value_counts()

Experienced (Non-Manager)    3444
Entry Level                  1231
Management                    775
Internship Level               90
Mid Career                     33
Fresh Graduate                  3
Senior Executive                2
Director/Head                   1
Name: career_level, dtype: int64

In [22]:
wuzzuf_df['career_level'].value_counts()

Experienced (Non-Manager)                      4034
Entry Level (Junior Level / Fresh Grad)        2028
Manager                                        1051
Senior Management (CEO, GM, Director, Head)      97
Student (Undergrad / Postgrad)                   19
Name: career_level, dtype: int64

In [23]:
data_to_be_replaced = {
    'Entry Level': 'Entry Level (Junior Level / Fresh Grad)',
    'Management': 'Manager',
    'Mid Career': 'Experienced (Non-Manager)',
    'Fresh Graduate': 'Entry Level (Junior Level / Fresh Grad)',
    'Senior Executive': 'Senior Management (CEO, GM, Director, Head)',
    'Director/Head': 'Senior Management (CEO, GM, Director, Head)'
}
bayt_df['career_level'].replace(data_to_be_replaced, inplace=True)

### Education Level

In [24]:
bayt_df['education_level'].value_counts()

Bachelor    5271
Master       201
Diploma      103
Ph.D           4
Name: education_level, dtype: int64

In [25]:
wuzzuf_df['education_level'].value_counts()

Bachelor's Degree              7150
Master's Degree                  56
High School (or equivalent)      23
Name: education_level, dtype: int64

In [26]:
data_to_be_replaced = {
    'Bachelor': "Bachelor's Degree",
    'Master': "Master's Degree",
    'Diploma': 'High School / Diploma (or equivalent)',
}
data_to_be_replaced2 = {
    'High School (or equivalent)': 'High School / Diploma (or equivalent)',
}
bayt_df['education_level'].replace(data_to_be_replaced, inplace=True)
wuzzuf_df['education_level'].replace(data_to_be_replaced2, inplace=True)

### Combine both data frame in one frame

In [27]:
df = pd.concat([wuzzuf_df, bayt_df])

In [28]:
df

,job_title,job_type,job_categories,job_location,company_name,company_location,company_field,company_size,experience_needed,career_level,education_level,gender
0,Cost Accountant,Full Time,Accounting/Finance,"Bourj Alarab, Alexandria",Confidential Company,"Bourj Alarab, Alexandria",Manufacturing,10-49 Employees,Min: 0 Max: 1,Entry Level (Junior Level / Fresh Grad),Bachelor's Degree,Both
1,Costing Manager - Pastry Industry FMCG,Full Time,Accounting/Finance,"6th of October, Giza",Confidential Company,"6th of October, Giza",Manufacturing,10-49 Employees,Min: 7 Max: 10,Manager,Bachelor's Degree,Male
2,Female Junior Accountant,Full Time,Accounting/Finance,"6th of October, Giza",Confidential Company,"6th of October, Giza",Manufacturing,10-49 Employees,Min: 1 Max: 2,Entry Level (Junior Level / Fresh Grad),Bachelor's Degree,Both
3,Collection Supervisor,Full Time,Accounting/Finance,"Maadi, Cairo",Abudawood Group Egypt,"Cairo, Egypt",FMCG,500 Employees or more,Min: 1 Max: 2,Experienced (Non-Manager),Bachelor's Degree,Both
4,Senior Costing Accountant,Full Time,Accounting/Finance,"Cairo, Egypt",Cairo Three A Poultry,Egypt,Agriculture/Fishing/Farming,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both
...,...,...,...,...,...,...,...,...,...,...,...,...
5574,Routing and Quality Analyst,Full Time,Quality,"Cairo, Egypt",Cequens,"Cairo, Egypt",Other Business Support Services,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both
5575,Solutions Architect,Full Time,IT/Software Development,"Cairo, Egypt",Giza Systems,"Cairo, Egypt",IT Services,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both
5576,Presales Engineer - SCADA,Full Time,Engineering,"Cairo, Egypt",Giza Systems,"Cairo, Egypt",Telecommunications,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both
5577,Senior Front End Deveoper,Full Time,Engineering,"Cairo, Egypt",Giza Systems,"Cairo, Egypt",IT Services,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both
5578,Presales Consultant - Software,Full Time,IT/Software Development,"Cairo, Egypt",Giza Systems,"Cairo, Egypt",Telecommunications,500 Employees or more,Min: 3 Max: 5,Experienced (Non-Manager),Bachelor's Degree,Both

### Save data after integration

In [29]:
df.to_csv('all_data_cleaned.csv', encoding='utf-16')